/*BANNER*/

.banner {
    background-image: url('../../images/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 56px;
    padding: 37px 0;
    
}

.banner .container {
    display: flex;
    
}

.phone, .text {
    width: 50%;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
   
    
}

.text h1 {
    font-size: 42px;
    margin-bottom: 14px;
    
}

.text p {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 35px;
}

button {
    width: 180px; 
    height: 41px;
    background-color: #5094f2;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    margin-left: 10px;
    padding: 10px;
    
}

.sign-up:hover {
    box-shadow: 1px 3px 6px 0 rgba(255, 255, 255, .4);
}