@media (max-width: 768px) {
    .phone {
        display: none;
    }
    .text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
               
    }
}

@media (max-width: 500px) {
    .text h1 {
        font-size: 30px;
        text-align: center;
                
    }
}

